<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div th:each="fecha,i:${fechas}">
                <h5 th:text="${fecha}" />
                <div th:each="mensaje:${mensajes[i.index]}">
                    Usuario: <span th:text="${mensaje.usuario}"> </span>
                    <br/>
                    <br/>
                    <span th:text="${mensaje.mensaje}"> </span>
                    </div>
                
                
            </div>
        </div>
    </body>
</html>
