<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Gestión de grupos</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="http://www.jorgerubira.com/cdn/AbleDropDownList.js" ></script>
</head>

<body>
    <div>
        <form action="/gestion/grupo/cambiarNombre">
            <div style="float:left; width: 70%;">
                <input class="cantidad" name="nombre" type="text" th:value="${grupo.nombre}" />
                <input class="cantidad" name="idGrupo" type="hidden" th:value="${grupo.id}" />
            </div>
            <button style="float:left; width: 30%;" type="submit" class="botonAzul">Cambiar
                nombre</button>
        </form>

        <!--<form action="/gestion/grupo/nuevoUsuarioGrupo" th:if="${grupo.id != usuarioGrupo[0].usuario.id}">
            <div style="float:left; width: 70%;">
                <select name="correo">
                    <option th:each="c:${contactos.contactos}" th:value="${c.id}" th:text="${c.correo}"></option>
                </select>
                <input type="hidden" name="idGrupo" th:value="${grupo.id}"/>
            </div>
            <button style="float:left; width: 30%;" type="submit" class="botonAzul">Añadir usuario</button>
        </form>-->
        <table class="tablaPrincipal">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th th:if="${isAdmin && grupo.id != usuarioGrupo[0].usuario.id}">Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ug,index:${usuarioGrupo}" class="item">
                    <td class='align-middle' th:text="${ug.usuario.nombre}"></td>
                    <td class='align-middle' th:text="${ug.usuario.correo}"></td>
                    <td class='align-middle' th:text="${ug.usuario.telefono}"></td>
                    <td th:if="${isAdmin && grupo.id != usuarioGrupo[0].usuario.id}"><a class="botonRojo" 
                        th:if="${yo.id != ug.usuario.id || (yo.id == ug.usuario.id && index.size == 1 && grupo.id != ug.usuario.id)}"    th:href="@{|${grupo.id}/borrarUsuario|(idUsuarioGrupo=${ug.id},idGrupo=${grupo.id})}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>