@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-color: #22303a;
  margin-top: 40px;
}

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

img {
  margin-left: 280px;
  width: 35px;
}

.no-records-found {
  display: none;
}

button {
  border-radius: 10px;
  outline: none;
}

th {
  white-space: nowrap;
}

.inputLogin {
  margin-bottom: 20px;
  width: 80%;
  height: 40px;
  text-align: center;
  background-color: #22303a;
  color: #f7f7f7;
  border-radius: 4px;
  border: #f7f7f7 2px solid;
}

.inputLogin:focus {
  outline: none;
  border-color: #3676ca;
}

.cantidad {
  margin-bottom: 20px;
  width: 98%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: #22303a;
  border-radius: 4px;
  border: #f7f7f7 1px solid;
  color: #f7f7f7;
}

.cantidad::placeholder {
  color: #f7f7f7;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cantidad:focus {
  outline: none;
  border-color: #3676ca;
}

.inputLogin::placeholder {
  color: #3e3434;
}

.imgLogin {
  margin: 0 auto;
  width: 35%;
  padding-top: 30px;
  padding-bottom: 10px;
}

.btnLogin {
  border: #f7f7f7 1px solid;
  border-radius: 4px;
  color: #f7f7f7;
  background-color: #226acb;
  width: 70%;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.btnCambiarPass {
  border: #f7f7f7 1px solid;
  border-radius: 4px;
  color: #f7f7f7;
  background-color: #1a252d;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.btnCambiarPass:hover {
  background-color: #22303a;
  text-decoration: none;
  color: #f7f7f7;
}

.btnNewUser {
  color: #226acb;
  width: 70%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-decoration: none;
}

.btnInicarSesion {
  color: #f7f7f7;
  font-weight: 600;
  text-decoration: none;
}

.btnInicarSesion:hover {
  color: #3e3434;
  font-weight: 600;
  text-decoration: none;
}

.btnNewUser:hover {
  text-decoration: none;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: auto;
  background-color: #f7f7f7;
}

.card-title {
  font-size: 30px;
}

/* =================================
=========== Estilos layout ===========
====================================*/
.normalFont {
  font-weight: 400;
}

.navbar-custom {
  background-color: #3676ca;
  font-size: large;
  color: #f7f7f7;
}

.navbar-toggler {
  border: none;
  color: #f7f7f7;
}

.navegacion {
  position: absolute;
  height: 430px;
  width: 85px;
  top: 20px;
  background: #3676ca;
  border-left: 10px solid #3676ca;
  overflow-x: hidden;
  transition: width 0.5s;
  border-bottom-right-radius: 20px;
}

.navegacion:hover {
  width: 270px;
}

.navegacion ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}

.navegacion ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navegacion ul li.active {
  background: #1c59a8;
}

.navegacion ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #f7f7f7;
}

.navegacion ul li.active a::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: #3676ca;
  border-radius: 50%;
}

.navegacion ul li.active a::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: #3676ca;
  border-radius: 50%;
}

.navegacion ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navegacion ul li a .icon ion-icon {
  position: relative;
  top: 18px;
  font-size: 1.5em;
  z-index: 1;
}

.navegacion ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.menu-fixed {
  position: fixed;
  width: 100%;
}

.menu-fixed {
  position: fixed;
  width: 100%;
}

/* =================================
=====Estilos página principal ======
====================================*/

.divPrincipal {
  position: relative;
}

.presupuestoPrincipal {
  font-weight: lighter;
  font-size: 80px;
  text-align: center;
  color: #f7f7f7;
}

#grupo:hover {
  font-weight: 300;
  font-size: 80px;
  color: #3676ca;
}

.Verde {
  color: #4cb336;
}

.Rojo {
  color: #eb3b3b;
}

.tablaPrincipal {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.tablaPrincipal th {
  width: 100%;
  background-color: #3676ca;
  padding: 1em;
  border-top: 1px solid #3676ca;
  border-bottom: 6px solid #22303a;
  color: #f7f7f7;
  font-size: 15px;
  border-right-color: #3676ca;
}

.tablaPrincipal td {
  padding: 1em;
  border-bottom: 4px solid #22303a;
  font-size: medium;
  border-right-color: #1a252d;
}

.tablaPrincipal tr {
  padding: 1em;
  background: #1a252d;
  border-bottom: 4px solid #22303a;
  border-right: 1px solid #22303a !important;
  font-size: medium;
  color: #f7f7f7;
}

.tablaPrincipal tr:hover {
  background: #1a252d !important;
  border-right: 1px solid #22303a !important;
  color: #f7f7f7 !important;
}

.tablaPrincipal td:hover {
  border-right: 1px solid #1a252d !important;
  color: #3676ca !important;
}

.negritaPrincipal {
  font-weight: 600;
}

.divHrPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.divHr2elementos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.divHrPrincipal hr {
  flex: 1px;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #f7f7f7,
    rgba(129, 129, 129, 0.75),
    #22303a
  );
}

.divHr2elementos hr {
  flex: 1px;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background-color: #f7f7f7;
}

/* =================================
=====Estilos botón principal======
====================================*/

.botonAzul {
  border: #f7f7f7 1px solid;
  border-radius: 4px;
  background-color: #3676ca;
  color: #f7f7f7;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.botonRojo {
  border: #f7f7f7 1px solid;
  border-radius: 4px;
  background-color: #eb3b3b;
  color: #f7f7f7;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.botonRojo:hover {
  background-color: #c21e1e;
  color: #f7f7f7;
  text-decoration: none;
}

.botonAzul:hover,
.btnLogin:hover {
  background-color: #1c59a8;
  color: #f7f7f7;
  text-decoration: none;
}

.btnLogin:disabled {
  background-color: #cccccc;
  color: #666666;
}

/* =================================
=====Estilos botón switch======
====================================*/

.switch {
  position: relative;
  display: block;
  vertical-align: top;
  width: 157px;
  height: 39px;
  margin: 0 10px 10px 0;
  border-radius: 6px;
  cursor: pointer;
  box-sizing: content-box;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing: content-box;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  background: #4cb336;
  border-radius: 6px;
  border: #f7f7f7 1px solid;
  box-sizing: content-box;
}

.switch-label:before,
.switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  box-sizing: content-box;
}

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #f7f7f7;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #f7f7f7;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.switch-input:checked ~ .switch-label {
  background: #eb3b3b;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15),
    inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 60px;
  height: 33px;
  background: linear-gradient(to bottom, #22303a 40%, #1a252d);
  background-image: -webkit-linear-gradient(top, #22303a 40%, #1a252d);
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-handle {
  left: 94px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* =================================
=====Transición switch==============
====================================*/
.switch-label,
.switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

/* =================================
============Scroll bar==============
====================================*/
#fp-nav span {
  background: #3676ca !important;
}

.fp-tooltip,
.fp-right {
  color: #f7f7f7 !important;
  font-weight: bold;
}

/* =================================
=======Buscador de elementos========
====================================*/

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  border-radius: 1px;
  height: 40px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  transition: all 0.5s ease-in-out;
  background-color: #3676ca;
  padding-right: 40px;
  color: #fff;
}

.input-search::placeholder {
  color: #f7f7f7;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
}

.btn-search {
  width: 50px;
  height: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
  border: #f7f7f7 1px solid;
  border-left: #f7f7f7 1px solid;
}

.btn-search:focus ~ .input-search {
  width: 250px;
  border-radius: 4px;
  border: 1px solid #f7f7f7;
  background-color: #1a252d;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 250px;
  border-radius: 4px;
  border: 1px solid #f7f7f7;
  background-color: #1a252d;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* ===================================
====Cambios de estado según tamaño====
======================================*/
@media screen and (max-width: 500px) {
  .navegacion {
    width: 100%;
    border-bottom-right-radius: 0px;
    transition: width 1s;
  }

  .navegacion:hover {
    width: 100%;
  }

  #movimientos .tablaPrincipal tr > *:nth-child(1) {
    display: none;
  }
  #pager .tablaPrincipal tr > *:nth-child(0) {
    display: none;
  }

  #grupos #movimientos .tablaPrincipal tr > *:nth-child(1),
  #grupos #movimientos .tablaPrincipal tr > *:nth-child(3) {
    display: none;
  }

  .divPrincipal #grupo {
    display: none;
  }

  .divPrincipal #presupuesto {
    position: relative;
    top: 20px;
  }

  .divPrincipal {
    top: 0px;
  }
}

@media screen and (max-width: 600px) {
  #fp-nav span {
    display: none;
  }
}

.fas:hover {
  color: #22303a;
}

/* ===================================
========Botones del paginado=========
======================================*/

.pagination {
  position: absolute;
  left: 25%;
  right: 25%;
  padding-bottom: 30px;
}

.pagination a {
  display: inline-block !important;
  padding: 4px 14px;
  margin: 1px;
  cursor: pointer;
  font-size: 17px;
  color: #f7f7f7;
  background-color: #1a252d;
  border: 1px solid #f7f7f7;
  border-radius: 4px;
}

.pagination a:hover {
  color: #f7f7f7;
  background-color: #3676ca;
  border: 1px solid #f7f7f7;
}

.pagination > li.active > a {
  background-color: #3676ca !important;
  border: 1px solid #f7f7f7 !important;
}

.pager-nav {
  margin: 16px 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
.pager-nav span {
  display: inline-block;
  padding: 4px 14px;
  margin: 1px;
  cursor: pointer;
  font-size: 14px;
  background-color: #1a252d;
  border: 1px solid #f7f7f7;
  border-radius: 4px;
}
.pager-nav span:hover,
.pager-nav .pg-selected {
  color: #f7f7f7;
  background-color: #3676ca;
  border: 1px solid #f7f7f7;
}

/* ===================================
==========Tamaño del ajax=============
======================================*/
.largeWidth {
  position: relative;
  right: 15%;
  width: 140%;
  background-color: #22303a;
}

/* ===================================
====Fecha de tabla en una sola línea====
======================================*/
.fechaTabla {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.espaciado {
  padding-bottom: 20px;
}

select {
  width: 98%;
  height: 35px;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  background-color: #1a252d;
  color: #f7f7f7;
}
select:focus {
  outline: none;
  border-color: #226acb;
}

.msgError {
  color: #ed2525;
  font-size: 30px;
  font-weight: 500;
}
.container-btn-mode {
  top: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 2;
  font-size: 0;
}
.btn-mode {
  display: inline-block;
  width: 50px;
  height: 30px;
  border: 1px solid #f7f7f7;
  transition: background-color 0.5s;
}
.btn-mode i {
  display: block;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}
.btn-mode.sun {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid transparent;
}
.btn-mode.moon {
  border-right: 1px solid transparent;
}
.btn-mode.batman {
  border-right: 1px solid transparent;
}
.btn-mode.thanos {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-mode.hulk {
  border-right: 1px solid transparent;
}
.btn-mode.moon:hover,
.btn-mode.sun:hover,
.btn-mode.thanos:hover,
.btn-mode.batman:hover,
.btn-mode.spiderman:hover,
.btn-mode.hulk:hover {
  color: #242424 !important;
}
.activo {
  background-color: #22303a !important;
  color: #3676ca !important;
}
